.task-item {
            display: flex;
            align-items: center;
            padding-right: 20px;
            position: relative;
            }
.remove-task-icon {
            display: none; /* Hide by default */
            background: none;
            border: none;
            padding: 0;
            color: red;
            cursor: pointer;
            margin-left: auto; /* Align the "X" to the right */
            }
.task-item:hover .remove-task-icon {
            display: inline; /* Show on hover */
            }