{% extends "base.html" %}
{% block content %}

<div class="container w-25">

    <form method="POST" action="">
        <div>
        {{ form.hidden_tag() }}
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-person-circle d-block mx-auto mb-4" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>

        <h1 align="center">Account Settings</h1>
        <h3 align="center" class="">Logged in as, {{ current_user.username }}</h3>

        <div class="form-floating mb-2 mt-5">
          {{ form.username(class="form-control", placeholder="Username") }}
          {{ form.username.label(class="form-control-label") }}
        </div>

        <div class="form-floating mb-2">
          {{ form.email(type="email", class="form-control", placeholder="name@example.com") }}
          {{ form.email.label(class="form-control-label") }}
        </div>

        {{ form.submit(class="btn btn-primary w-100 py-2", type="submit") }}

    </form>
</div>

{% endblock content %}