{% extends "base.html" %}
{% block content %}
 <!-- HERO -->
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="./static/images/flemo.png" alt="" width="10%" height="10%">
    <h1 class="display-5 fw-bold text-body-emphasis">Flemo</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 fs-2">Welcome, {{ current_user.username }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/notes"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Go to notes</button></a>
      </div>
    </div>
  </div>
{% endblock content %}

