{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-row" style="height: calc(100vh - 110px); overflow: hidden;">
    <!-- Notes List Column -->

    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-dark" style="width: 380px;">
        <div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
            <span class="fs-3 fw-bold p-1">Notes</span>

            <div class="text-end pr-2 mr-2 ms-auto">
                <a href="{{ url_for('notes') }}"><button type="button" class="btn btn-primary me-2"><i class="bi bi-plus-circle-fill"></i></i></button></a>
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#folderModal"><i class="bi bi-folder-plus"></i></button>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#cdModal" id="openCDModal"><i class="bi bi-folder-symlink-fill text-end"></i></button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i></button>

            </div>
        </div>

            <div class="list-group list-group-flush border-bottom overflow-auto flex-grow-1">
                <ul class="nav flex-column">

                    {% for folder in folders %}
                    <li class="nav-item note-folder">
                        <div class="d-flex row row-cols-2">
                        <a class="nav-link col" data-bs-toggle="collapse" href="#folder-{{folder.id}}" role="button" aria-expanded="false" aria-controls="folder-{{folder.id}}">
                            <i class="bi bi-folder-fill"> {{folder.title}}</i>
                        </a>
                        <div class="col text-end nav-link edit-folder">
                        <a href="#"><i class="bi bi-pencil-fill"></i></i></a>
                        <a href="{{ url_for('del_folder', folder_id=folder.id)}}"><i class="bi bi-trash-fill text-danger"></i></a>
                        </div>

                        </div>
                        <div class="collapsed" id="folder-{{folder.id}}">
                            <ul class="nav flex-column ms-3">
                                <li class="nav-item">
                                    {% for note_obj in notes %}
                                        {% if note_obj.folder_id == folder.id %}
                                        <a href="{{ url_for('note', note_id=note_obj.id) }}" class="list-group-item rounded list-group-item-action {% if request.path == url_for('note', note_id=note_obj.id) %}active{% endif %} lh-sm" aria-current="true">
                                            <div class="d-flex w-100 align-items-center justify-content-between">
                                                <strong class="mb-1"><i class="bi bi-file-text-fill"></i> {{ note_obj.title }}</strong>


                                            </div>
<!--                                            <div class="col-10 mb-1 small">{{ note_obj.content }}</div>-->
                                         </a>
                                        {% endif %}
                                    {% endfor %}
                                </li>

                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

<!--OLD NOTE LIST-->
<!--        <div class="list-group list-group-flush border-bottom overflow-auto flex-grow-1">-->
<!--            {% for note_obj in notes %}-->
<!--             <a href="{{ url_for('note', note_id=note_obj.id) }}" class="list-group-item list-group-item-action {% if request.path == url_for('note', note_id=note_obj.id) %}active{% endif %} py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">{{ note_obj.title }}</strong>-->

<!--                </div>-->
<!--                <div class="col-10 mb-1 small">{{ note_obj.content }}</div>-->
<!--             </a>-->
<!--            {% endfor %}-->
<!--        </div>-->
    </div>



    <!-- Editor Form Column -->
    <div class="container-fluid ms-3 d-flex flex-column h-100">
        <form action="{{ url_for('note', note_id=note_id) }}" method="POST" class="d-flex flex-column h-100">
            {{ form.hidden_tag() }}

            <div class="d-flex mb-3">
            <h3 class="me-auto">{{ form.title.label(class="form-control-label") }}</h3>


            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

            {% for lvalue, label in form.layout.choices %}
               <input type="radio" class="btn-check" name="{{ form.layout.name }}" id="btnradio{{ lvalue }}" value="{{ lvalue }}" autocomplete="off" onclick="document.getElementById('invisible-submit').click();" {% if layout == lvalue %}checked{% endif %}>
                <label class="btn btn-outline-primary bi {{label}}" for="btnradio{{ lvalue }}"></label>

            {% endfor %}

            </div>
                <button type="submit" id="invisible-submit" style="display: none;">Submit</button>
            </div>



            {{ form.title(class="form-control mb-3") }}

                {% if layout == "1" %}
            <!-- Content field that fills remaining height and scrolls if needed -->
                    <div class="flex-grow-1 overflow-auto mb-4">
                        {{ form.content(class="form-control h-100") }}
                    </div>

                {% elif layout == "2" %}
            <!-- Content field that fills remaining height and scrolls if needed -->
                    <div class="flex-grow-1 overflow-auto mb-4 row row-col-2 list-group list-group-horizontal">

                        {{ form.content(class="form-control h-100 col list-group-item") }}
                        <div class="h-100 col list-group-item">{{ preview | safe }}</div>
                    </div>

                {% elif layout == "3" %}
            <!-- Content field that fills remaining height and scrolls if needed -->
                    <div class="flex-grow-1 overflow-auto mb-4">

                        <div class="h-100 col form-control">{{ preview | safe }}</div>
                        {{ form.content(class="d-none") }}
                    </div>

                {% endif %}

            {{ form.submit(class="btn btn-primary w-100 py-2", type="submit") }}
        </form>
    </div>
</div>

<!--{{ ckeditor.load(custom_url=url_for('static', filename='basic/ckeditor.js')) }}-->
<!--{{ ckeditor.config(name='content') }}-->

<!-- Del Note Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Note?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('del_note') }}" method="POST" style="display: inline;">
            <input type="hidden" name="delete_note" value="{{ note_id }}">
                <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Folder Modal -->
<div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="folderModalLabel">Folder Name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('new_folder') }}" method="POST">
      <div class="modal-body">

            {{ form.hidden_tag() }}
            {{ folder_form.title(class="form-control mb-3") }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{ folder_form.submit(class="btn btn-primary", type="submit") }}

      </div>
      </form>
    </div>
  </div>
</div>

<!-- Change Folder Modal -->
<div class="modal fade" id="cdModal" tabindex="-1" aria-labelledby="cdModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{{ url_for('change_folder', note_id=note_id) }}" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cdModalLabel">Change Folder</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

<!--        <div class="dropdown">-->
<!--          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            {% for note_obj in notes %}-->
<!--              {% for folder in folders %}-->
<!--                {% if request.path == url_for('note', note_id=note_obj.id) %}-->
<!--                    {% if folder.id == note_obj.folder_id %}-->
<!--                        {{folder.title}}-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
<!--              {% endfor %}-->
<!--            {% endfor %}-->
<!--          </button>-->
<!--          <ul class="dropdown-menu">-->
<!--            {% for folder in folders %}-->
<!--              <li><a class="dropdown-item" href="#">{{ folder.title }}</a></li>-->
<!--            {% endfor %}-->

<!--          </ul>-->
<!--        </div>-->

          {{ form.hidden_tag() }}
          {{ change_folder_form.selected_folder(class="form-select")}}




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
          {{ change_folder_form.submit(class="btn btn-primary") }}

      </div>
    </div>
        </form>
  </div>

</div>


{% endblock content %}
