{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-row" style="height: calc(100vh - 110px); overflow: hidden;">
    <!-- Notes List Column -->
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-dark" style="width: 380px;">
        <div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
            <span class="fs-3 fw-bold p-1">Notes</span>

            <div class="text-end pr-2 mr-2 ms-auto">
                <a href="{{ url_for('notes') }}"><button type="button" class="btn btn-primary me-2">New</button></a>
<!--                <button type="button" class="btn btn-outline-danger">Delete</button>-->
            </div>
        </div>



<div class="list-group list-group-flush border-bottom overflow-auto flex-grow-1">
                <ul class="nav flex-column">

                    {% for folder in folders %}
                    <li class="nav-item note-folder">
                        <div class="d-flex row row-cols-2">
                        <a class="nav-link col" data-bs-toggle="collapse" href="#folder-{{folder.id}}" role="button" aria-expanded="false" aria-controls="folder-{{folder.id}}">
                            <i class="bi bi-folder-fill"> {{folder.title}}</i>
                        </a>
                        <div class="col text-end nav-link edit-folder">
                        <a href="#"><i class="bi bi-pencil-fill"></i></i></a>
                        <a href="#"><i class="bi bi-trash-fill text-danger"></i></a>
                        </div>

                        </div>
                        <div class="collapsed" id="folder-{{folder.id}}">
                            <ul class="nav flex-column ms-3">
                                <li class="nav-item">
                                    {% for note_obj in notes %}
                                        {% if note_obj.folder_id == folder.id %}
                                        <a href="{{ url_for('note', note_id=note_obj.id) }}" class="list-group-item rounded list-group-item-action {% if request.path == url_for('note', note_id=note_obj.id) %}active{% endif %} lh-sm" aria-current="true">
                                            <div class="d-flex w-100 align-items-center justify-content-between">
                                                <strong class="mb-1"><i class="bi bi-file-text-fill"></i> {{ note_obj.title }}</strong>


                                            </div>
<!--                                            <div class="col-10 mb-1 small">{{ note_obj.content }}</div>-->
                                         </a>
                                        {% endif %}
                                    {% endfor %}
                                </li>

                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

<!--OLD NOTE LIST-->
<!--        <div class="list-group list-group-flush border-bottom overflow-auto flex-grow-1">-->
<!--            {% for note_obj in notes %}-->
<!--             <a href="{{ url_for('note', note_id=note_obj.id) }}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">{{ note_obj.title }}</strong>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">{{ note_obj.content }}</div>-->
<!--             </a>-->
<!--            {% endfor %}-->
<!--        </div>-->



    </div>

    <!-- Editor Form Column -->
    <div class="container-fluid ms-3 d-flex flex-column h-100">
        <form action="{{ url_for('add_note') }}" method="POST" class="d-flex flex-column h-100">
            {{ form.hidden_tag() }}

            <h3>{{ form.title.label(class="form-control-label") }}</h3>
            {{ form.title(class="form-control mb-3") }}

            <!-- Content field that fills remaining height and scrolls if needed -->
            <div class="flex-grow-1 overflow-auto mb-4">
                {{ form.content(class="form-control h-100") }}
            </div>

            {{ form.submit(class="btn btn-primary w-100 py-2", type="submit") }}
        </form>
    </div>
</div>

<!--{{ ckeditor.load(custom_url=url_for('static', filename='basic/ckeditor.js')) }}-->
<!--{{ ckeditor.config(name='content') }}-->

{% endblock content %}
